<template name="teamSignupsList">
  <div class="panel">
    <h3>{{_ "team"}} : {{name}}</h3>
  </div>
  <ul class="list-unstyled">
    {{#each signup in allSignups}}
      <li class="panel panel-default
        {{#if $eq signup.type 'shift'}}panel-success{{/if}}
        {{#if $eq signup.type 'task'}}panel-warning{{/if}}
      ">
          <div class="panel-heading">
            {{#if $eq signup.type "shift"}}
              {{fa "calendar"}}
              {{> shiftField signup.duty}}
            {{/if}}
            {{#if $eq signup.type "task"}}
              {{fa "tasks"}}
              {{> taskField signup.duty}}
            {{/if}}
            {{ signup.duty.title }}
          </div>
          <div class="panel-body">
            {{getUserName signup.userId}}
            <div class="pull-right">
              <button
                class="btn btn-default"
                data-action="approve"
                data-signup="{{ signup._id }}"
                data-type="{{ signup.type }}"
              >
                {{_ 'approve' }}
              </button>
              <button
                class="btn btn-default"
                data-action="reject"
                data-signup="{{ signup._id }}"
                data-type="{{ signup.type }}"
              >
                {{_ 'reject' }}
              </button>
            </div>
          </div>
      </li>
    {{/each}}
  </ul>
</template>
